@model  IEnumerable<SAMsUNFWebApplication.Models.CSVContacts>
@using GridMvc.Html
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <h3 class="viewname-h3">Import Data</h3>

@*<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

    <script type="text/javascript">
        function chgAction() {
            var form = document.form1;

            console.log('chgAction()');
            console.log(form.recipient.selectedIndex);

            switch (form.recipient.selectedIndex) {
                case 1:
                    form.action = "/Import/ImportStudents";
                    break;
                case 2:
                    form.action = "/Import/ImportContacts";
                    break;
            }
        }

       
    </script>

</head>*@
<div>
@if (Request.Params["error"] == "invalidfile")
{
    <div class="bg-danger">An invalid file was detected.  Please try again.</div>
    
}
@if (Request.Params["error"] == "fileloaded")
{
    <div class="bg-success">The file was loaded successfully.</div>

}
</div>

<form id="form1" name="form1" action="/" method="post" enctype="multipart/form-data">


    <table class="table" style="width:0%">
        <tr>
            <td align="left" ">
                <span>
                    <input type="file"
                           style="visibility:hidden; width: 1px;"
                           id="file" name="file"
                           onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))" /> <!-- Chrome security returns 'C:\fakepath\'  -->
                    <input class="btn btn-primary" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();" /> <!-- on button click fire the file click event -->
                    &nbsp;
                    <span class="badge badge-important"></span>
                </span>
            </td></tr><tr>
               
        <td>
                <label>Choose File Type:</label>


                <select name="recipient" id="recipient" size="1" onChange="chgAction()" class="form-control">
                    <option value="" selected="selected">--Select--</option>
                    <option value="ImportStudents?file">Import Students</option>
                    <option value="ImportContacts?file">Import Contacts</option>
                </select>
</td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary">
            </td>
        </tr>
        </table>

</form>


