@model  IEnumerable<SAMsUNFWebApplication.Models.CSVStudent>

@using GridMvc.Html
@{
    ViewBag.Title = "ImportStudent";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel= "stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Import Students</h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:center;">


                @if (Model == null)
                {
                        @Html.ActionLink("Something Went Wrong - Try Again", "Import");
                }
                else
                {
                    @Html.ActionLink("Students Imported.", "Import");
                }
            </div>
        </td>
    </tr>
</table>

