@model  IEnumerable<SAMsUNFWebApplication.Models.CSVContacts>
@using GridMvc.Html
@{
    ViewBag.Title = "Import";
}
        <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Import Data</h1>

<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

    <script type="text/javascript">
        function chgAction() {
            var form = document.form1;

            console.log('chgAction()');
            console.log(form.recipient.selectedIndex);

            switch (form.recipient.selectedIndex) {
                case 1:
                    form.action = "/Import/ImportStudents";
                    break;
                case 2:
                    form.action = "/Import/ImportContacts";
                    break;
            }
        }

    </script>

</head>
<form id="form1" name="form1" action="/" method="post" enctype="multipart/form-data">

    <table class="table">
        <tr>
            <td align="left" ">
                <input type="file" name="file" id="file" class="btn btn-info" />
            </td></tr><tr>
            <td>
                <label>Choose File Type:</label>


                <select name="recipient" id="recipient" size="1" onChange="chgAction()" class="form-control">
                    <option value="" selected="selected">--Select--</option>
                    <option value="ImportStudents?file">Import Students</option>
                    <option value="ImportContacts?file">Import Contacts</option>
                </select>
</td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary">
            </td>
        </tr>
        </table>

</form>


