@model  IEnumerable<SAMsUNFWebApplication.Models.OfficeVisit>
@using GridMvc.Html
@{
    ViewBag.Title = "OfficeVisit";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td>
            <div class="jumbotron">
                <h1 style="color:#FEDC11; font-size:larger;">Student Action Managegment System (SAMs)</h1>
                <h1 style="color:#FEDC11; font-size:large; ">Office Visits</h1>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left">
            <div style="width:500px; text-align:left;font-size:xx-small;">

                <!--https://stick2basic.wordpress.com/2013/04/10/how-to-set-webgrid-style-in-mvc/-->
                
                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.student_nbr).Titled("StudentNumber").Filterable(true);
               columns.Add(c => c.student_name).Titled("Name").Filterable(true);
               columns.Add(c => c.total_visits).Titled("Visit").Filterable(true);
               columns.Add(c => c.office_visit_dt).Titled("Date").Filterable(true);
               columns.Add(c => c.school_name).Titled("School").Filterable(true);
               columns.Add(c => c.grade_value).Titled("Grade").Filterable(true);
               columns.Add(c => c.homeroom).Titled("Homeroom").Filterable(true);
               columns.Add(c => c.content_course_name).Titled("Content").Filterable(true);
               columns.Add(c => c.sent_by_contact_name).Titled("SentBy").Filterable(true);
               columns.Add(c => c.offenses).Titled("Offenses").Filterable(true);
               columns.Add(c => c.arrival_dt).Titled("Arrived").Filterable(true);
               columns.Add(c => c.handled_by_contact_name).Titled("HandledBy").Filterable(true);
               columns.Add(c => c.consequences).Titled("Consequences").Filterable(true);
               columns.Add(c => c.comments).Titled("Comment").Filterable(true);
           }).WithPaging(5).Sortable(true)
            </div>
           </td>
    </tr>
    <tr>
        <td align="center">
            @Html.ActionLink("Export To Excel", "ExportToExcel")
            @Html.ActionLink("Add Office Visit","AddOfficeVisit","AddOfficeVisit")
            
        </td>
    </tr>
</table>
