@model  SAMsUNFWebApplication.Models.Profile

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Responsive website template for products</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="@Url.Content("~/Content/myTemplate/")css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body class="login-page access-page has-full-screen-bg">
    <div class="upper-wrapper">
        <!-- ******HEADER****** -->
        <header class="header">
            <div class="container">
                <h1 class="logo">
                    <a href="@Url.Action("Index", "Home")"><span style="width: 150px; height: 46px; background-image: url('@Url.Content("~/Content/myTemplate/")images/background/JaxLogo.jpg'); display:block; background-repeat: no-repeat"></span></a>
                </h1><!--//logo-->

            </div><!--//container-->
        </header><!--//header-->
        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Log in to SAMs</h2>
                            @using (Html.BeginForm("Login", "Login"))
                            {
                                <div class="row">
                                    <div class="form-container col-md-5 col-sm-12 col-xs-12">
                                        <form class="login-form">
                                            <div class="form-group email">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <label class="sr-only" for="login-email">Email or username</label>@Html.TextBoxFor(m => m.user_name)
                                                @Html.ValidationMessageFor(m => m.user_name, "", new { @class = "text-danger" })
                                            </div><!--//form-group-->
                                            <div class="form-group password">
                                                <label class="sr-only" for="login-password">Password</label>@Html.PasswordFor(m => m.password)
                                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                                <p class="forgot-password"><a href="reset-password.html">Forgot password?</a></p>
                                            </div><!--//form-group-->
                                            <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
                                            <div class="checkbox remember">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div><!--//checkbox-->
                                            <p class="lead">Don't have a SAMs account yet? <br /><a class="signup-link" href="signup.html">Create your account now</a></p>
                                        </form>
                                    </div><!--//form-container-->
                                </div><!--//row-->
                            }
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->
    <!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright 2015</small>
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/back-to-top.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/myTemplate/")js/main.js"></script>


</body>
</html>


















