@model  IEnumerable<SAMsUNFWebApplication.Models.HomeRoom>
@using GridMvc.Html
@{
    ViewBag.Title = "HomeRoom";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>
<table>
    <tr>
        <td>
            <div class="jumbotron">
                <h1 style="color:darkgoldenrod; font-size:large; ">HomeRoom</h1>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">

                @Html.ActionLink("Add New HomeRoom", "AddHomeRoom", "AddHomeRoom")
            </div>
            <div style="width:500px; text-align:center;">

                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(e =>
        @<b>
            @Html.ActionLink("Edit", "EditHomeRoom", "EditHomeRoom",
               new
               {
                   @id = e.homeroom_id
               },
               new
               {
                   @class = "btn btn-default"
               })
        </b>);
               columns.Add(d => d.homeroom_id).Titled("HomeRoom ID").SetWidth(15);
               columns.Add(d => d.class_room).Titled("Class Room").SetWidth(15);
               columns.Add(d => d.room_number).Titled("Room Number").SetWidth(5);
               columns.Add(d => d.school_id).Titled("School ID").SetWidth(10);
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

