@using GridMvc.Html
@model  SAMsUNFWebApplication.Models.DashboardCollection
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<table width="900" style="font-size:small">
    <tr>
        <td align="center" valign="bottom">
            <div class="container">
                <div style="float: left; width: 50%;">
                    <h3 class="viewname-h3">Dashboard</h3>
                </div>
                <div style="float: left;margin-top:20px;">
                    @Html.ActionLink("Export To Excel", "ExportToExcel", null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div class="container">
                <div class="dashboard-grid-div">
                    <h3 class="dashboard-grid-h3">Homerooms</h3>
                    @Html.Grid(Model.Homerooms).Columns(columns =>
                       {

                           columns.Add(c => c.school_name).Titled("School Name").Filterable(true).Css("dashboard-grid-col");
                           columns.Add(c => c.homeroom_name).Titled("Home Room").Filterable(true).Css("dashboard-grid-col");
                           columns.Add(c => c.grade).Titled("Grade").Filterable(true).Css("dashboard-grid-col");
                           columns.Add(c => c.total_visits).Titled("Total").Filterable(true).Css("dashboard-grid-col");
                       }).WithPaging(5).Sortable(true);
                </div>
                <div class="dashboard-grid-div">
                    <h3 class="dashboard-grid-h3">Teachers</h3>
                    @Html.Grid(Model.Teachers).Columns(columns =>
      {
          columns.Add(c => c.sent_by_contact_name).Titled("Teacher").Filterable(true).Css("dashboard-grid-col");
          columns.Add(c => c.total_visits).Titled("Total").Filterable(true).Css("dashboard-grid-col");
      }).WithPaging(5).Sortable(true)
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div class="container">
                <div class="dashboard-grid-div">
                    <h3 class="dashboard-grid-h3">Violations</h3>
                    @Html.Grid(Model.OffenseTypes).Columns(columns =>
      {
          columns.Add(c => c.offense_type).Titled("Offense Types").Filterable(true).Css("dashboard-grid-col");
          columns.Add(c => c.total_visits).Titled("Total").Filterable(true).Css("dashboard-grid-col");
      }).WithPaging(5).Sortable(true)
                </div>
                <div class="dashboard-grid-div">
                    <h3 class="dashboard-grid-h3">By Week</h3>
                    @Html.Grid(Model.ByWeek).Columns(columns =>
               {
                   columns.Add(c => c.displayDate).Titled("Week Of").Filterable(true).Css("dashboard-grid-col");
                   columns.Add(c => c.total_visits).Titled("Total").Filterable(true).Css("dashboard-grid-col");
               }).WithPaging(5).Sortable(true);
                </div>
            </div>
        </td>
    </tr>
</table>