@using GridMvc.Html
@model  SAMsUNFWebApplication.Models.DashboardCollection
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

        <table width="900" style="font-size:small">
            <tr>
                <td align="left" valign="bottom">
                    <div class="container">
                        <div style="float: left; width: 50%;">
                            <h3 style="color:#255694; font-size:xx-large; font-weight:bold;">Dashboard</h3>
                        </div>
                        <div style="margin-top:20px;">
                            @Html.ActionLink("Export To Excel", "ExportToExcel", null, new { @class = "btn btn-primary btn-large" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div class="container">
                        <div style="float: left; width: 45%;  height:250px; background-color:lightgray;  border:20px white solid; overflow-y: scroll;">
                            <h3 style="color:#255694; font-size:large; ">Homerooms</h3>
                            @Html.Grid(Model.Homerooms).Columns(columns =>
      {
          columns.Add(c => c.school_name).Titled("School Name").Filterable(true);
          columns.Add(c => c.homeroom_name).Titled("Home Room").Filterable(true);
          columns.Add(c => c.grade).Titled("Grade").Filterable(true);
          columns.Add(c => c.total_visits).Titled("Total").Filterable(true);
      }).WithPaging(5).Sortable(true)
                        </div>
                        <div style="float: left; width: 45%;  height:250px; background-color:lightskyblue;border: 20px solid white; overflow-y: scroll;">
                            <h3 style="color:#255694; font-size:large; ">Teachers</h3>
                            @Html.Grid(Model.Teachers).Columns(columns =>
      {
          columns.Add(c => c.sent_by_contact_name).Titled("Teacher").Filterable(true);
          columns.Add(c => c.total_visits).Titled("Total").Filterable(true);
      }).WithPaging(5).Sortable(true)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <div class="container">
                        <div style="float: left; width: 45%;  height:250px; background-color:lightgreen;padding:5px; border: 20px solid white; overflow-y: scroll;">
                            <h3 class="dashbaord-grid-header">Violations</h3>
                            @Html.Grid(Model.OffenseTypes).Columns(columns =>
      {
          columns.Add(c => c.offense_type).Titled("Offense Types").Filterable(true);
          columns.Add(c => c.total_visits).Titled("Total").Filterable(true);
      }).WithPaging(5).Sortable(true)
                        </div>
                        <div style="float: left; width: 45%;  height:250px; background-color:lightgoldenrodyellow;padding:5px; border: 20px solid white; overflow-y: scroll;">
                            <h3 style="color:#255694; font-size:large; ">By Week</h3>
                            @Html.Grid(Model.ByWeek).Columns(columns =>
               {
                   columns.Add(c => c.displayDate).Titled("Week Of").Filterable(true);
                   columns.Add(c => c.total_visits).Titled("Total").Filterable(true);
               }).WithPaging(5).Sortable(true);
                        </div>
                    </div>

                </td>
            </tr>
        </table>