
@{
    ViewBag.Title = "CreateCOCV";
}
<head>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />
</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Add Contact</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @using (@Html.BeginForm("CreateCodeOfConductViolation", "CodeOfConductViolation", FormMethod.Get))
                {
                    <table class="table">
                        <tr>
                            
                            <td>@ViewBag.SQLError
                                @Html.Label("Enter Violation Number")</td>
                            <td>@Html.TextBox("TxtId", null, new { @class = "form-control", @required = "required" })</td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Enter Short Code")</td>
                            <td>@Html.TextBox("TxtCode", null, new { @class = "form-control", @required = "required", @maxlength = 3 })</td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Enter Violation Name")</td>
                            <td>@Html.TextBox("TxtName", null, new { @class = "form-control", @required = "required" })</td>
                        </tr>
                        <tr>
                            <td  colspan="2" align="right">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                                <button class="btn btn-info" onclick="history.go(-1)">Cancel</button>
                            </td>
                        </tr>
                    </table>
                }
                </div>
</td>
</tr>
    </table>
