@model  IEnumerable<SAMsUNFWebApplication.Models.CodeOfConductViolation>
@using GridMvc.Html
@{
    ViewBag.Title = "CodeOfConductViolation";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css") rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>
<table>
    <tr>
<td>
    <div class="jumbotron">
        <h1 style="color:darkgoldenrod; font-size:larger;">Student Action Managegment System (SAMs)</h1>
        <h1 style="color:darkgoldenrod; font-size:large; ">Code Of Conduct Violation</h1>
    </div>
    </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            
            <div style="width:500px; text-align:center;">
               @Html.ActionLink("Add New Code of Conduct Violation", "CreateCOCV", "Home")

                

                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.duval_violation_code).Titled("ID").SetWidth(15);
               columns.Add(c => c.short_code).Titled("Code").SetWidth(5);
               columns.Add(c => c.name).Titled("Code Description").SetWidth(350).Sanitized(true);
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

