@model  IEnumerable<SAMsUNFWebApplication.Models.CodeOfConductViolation>
@using GridMvc.Html
@{
    ViewBag.Title = "CodeOfConductViolation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

</head>*@
<div>
    @if (Request.Params["error"] == "invalidfile")
    {
        <div class="bg-danger">The modifications for code of conduct violation did not work due to a system error.  Please try again.</div>

    }
    @if (Request.Params["error"] == "fileloaded")
    {
        <div class="bg-success">The code of conduct violation was modified successfully.</div>

    }
</div>
<table class="table" style="width:0%">
    <tr>
        <td align="left" valign="bottom">
            <div style="float: left;">
                <h3 class="viewname-h3">Code of Conduct Violation</h3>
            </div>
        </td>

    </tr>
    <tr>
        <td align="center" style="padding-left:0px;">
            <div style="width:500px; text-align:left;">
                @Html.ActionLink("Add Violation", "CreateCOCV", "Home", null, new { @class = "btn btn-info" })
            </div>
            <div style="width:500px; text-align:center;">
               

                

                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
        .Encoded(false)
        .Sanitized(false)
                   .SetWidth(30)
           .RenderValueAs(e =>
        @<b>
           
        </b>);
               columns.Add(c => c.duval_violation_code).Titled("Duval Code").SetWidth(20).Css("admin-grid-col");
               columns.Add(c => c.short_code).Titled("Code").SetWidth(5).Css("admin-grid-col");
               columns.Add(c => c.name).Titled("Code Description").SetWidth(350).Sanitized(true).Css("admin-grid-col");
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

