@model  IEnumerable<SAMsUNFWebApplication.Models.School>
@using GridMvc.Html
@{
    ViewBag.Title = "School";
}

<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>

</head>
<div>
    @if (Request.Params["error"] == "invalidfile")
    {
        <div class="bg-danger">The modifications for school did not work due to a system error.  Please try again.</div>

    }
    @if (Request.Params["error"] == "fileloaded")
    {
        <div class="bg-success">The school was modified successfully.</div>

    }
</div>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">School</h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">
                @Html.ActionLink("Add School", "CreateSchool", "Home", null, new { @class = "btn btn-info" })
            </div>
            <div style="width:500px; text-align:center;">


                @Html.Grid(Model).Columns(columns =>
{
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(d =>
                    @<b>
                        @Html.ActionLink("Edit", "EditSchool", "EditSchool",
               new
               {
                   @id = d.school_id
               },
               new
               {
                   @class = "btn btn-default"
               })
                    </b>);
    columns.Add(c => c.name).Titled("Name").SetWidth(15);
}).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>



