@model  IEnumerable<SAMsUNFWebApplication.Models.Profile>
@using GridMvc.Html
@{
    ViewBag.Title = "Profile";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Profile</h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">

                @Html.ActionLink("Add New Contact", "AddProfile", "AddProfile")
            </div>
            <div style="width:500px; text-align:center;">

                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(e =>
        @<b>
            @Html.ActionLink("Edit", "EditProfile", "EditProfile",
               new
               {
                   @id = e.profile_id
               },
               new
               {
                   @class = "btn btn-default"
               })
        </b>);
               columns.Add(d => d.profile_id).Titled("ID").SetWidth(15);
               columns.Add(d => d.user_name).Titled("User Name").SetWidth(15);
               columns.Add(d => d.first_name).Titled("First Name").SetWidth(15);
               columns.Add(d => d.last_name).Titled("Last Name").SetWidth(15);
               columns.Add(d => d.contact_id).Titled("Contact ID").SetWidth(5);
               columns.Add(d => d.password).Titled("Password").SetWidth(20);


           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

