<link href="@Url.Content("~/Content/accordion.css")" type="text/css" rel="stylesheet" />
<script src="~/Scripts/accordion.js" type="text/javascript"></script>

<div id="accordian">
    <ul>
        <li>
            <h3>@Html.ActionLink("Dashboard", "Dashboard", "Dashboard", null, new { @style = "color:white" })</h3>
        </li>
    
        <!-- we will keep this LI open by default -->
        <!--<li class="active"> -->
        <li>
            <h3>Office Visit</h3>
            <ul>
                <li><a href="#">@Html.ActionLink("Add Office Visit", "Index", "Home")</a></li>
            </ul>
        </li>

        <li>
            <h3>Admin Management</h3>
            <ul>
                <li>@Html.ActionLink("Student", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("School", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("School Year", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Grade", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Homeroom", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                <li>@Html.ActionLink("Profile", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Office Visit", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Code of Conduct", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Remedial Action", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                <li>@Html.ActionLink("Settings", "CodeOfConductViolation", "CodeOfConductViolation")</li>
            </ul>
        </li>
        <li>
            <h3>Training</h3>
            <ul>
                <li>@Html.ActionLink("Administrator Training", "Training", "Training")</li>
                <li>@Html.ActionLink("Technical Training", "Training", "Training")</li>
            </ul>
        </li>
        <li>
            <h3><span class="icon-logout"></span>Settings</h3>
            <ul>
                <li>@Html.ActionLink("Login", "Login", "Login")</li>
                <li>@Html.ActionLink("Logout", "Login", "Login")</li>
            </ul>
        </li>
    </ul>
</div>
