<table width:"100%" style="background-color:blue; font-size:x-large;vertical-align:top;">

    <tr>
        <td>
            @*Click on Login -> Control -> View -> Call*@
            @Html.ActionLink("Login", "Login", "Login")
        </td>

    </tr>

    <tr>
        <td>

            @Html.ActionLink("Dashboard", "Dashboard", "Dashboard")
        </td>


    </tr>

    <tr>
        <td>

            @Html.ActionLink("Office Visit", "Index", "Home")
        </td>

    </tr>

    <tr>
        <td>

            @Html.ActionLink("Maintenance", "CodeOfConductViolation", "CodeOfConductViolation")
        </td>


    </tr>

    <tr>
        <td>

            @Html.ActionLink("Training", "Training", "Training")
        </td>


    </tr>

</table>