<table width:"100%" style="background-color:blue; font-size:x-large;vertical-align:top;">

    <tr>
        <td>

            @Html.ActionLink("Login", "Login", "Login")
        </td>

    </tr>

    <tr>
        <td>

            @Html.ActionLink("Dashboard", "Dashboard", "Dashboard")
        </td>


    </tr>

    <tr>
        <td>

            @Html.ActionLink("Create Incident", "Index", "Home")
        </td>

    </tr>

    <tr>
        <td>

            @Html.ActionLink("Update Incident", "Index", "Home")
        </td>


    </tr>

    <tr>
        <td>

            @Html.ActionLink("Search For Incident", "Index", "Home")
        </td>

    </tr>

    <tr>
        <td>

            @Html.ActionLink("Reports", "Index", "Home")
        </td>


    </tr>

</table>

