<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Websitename</a>
        </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <h3>@Html.ActionLink("Login", "Login", "Login")</h3>
                </li>
                <li class="active">
                    <h3>@Html.ActionLink("Dashboard", "Dashboard", "Dashboard")</h3>
                </li>
                <li class="active">
                    <h3>@Html.ActionLink("Office Visit", "OfficeVisit", "OfficeVisit")</h3>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <h3>Admin Management</h3><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">@Html.ActionLink("Student", "Student", "Student")</a></li>
                        <li>@Html.ActionLink("School", "School", "School")</li>
                        <li>@Html.ActionLink("School Year", "SchoolYear", "SchoolYear")</li>
                        <li>@Html.ActionLink("Homeroom", "Homeroom", "Homeroom")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                        <li>@Html.ActionLink("Import Data", "Import", "Import")</li>
                        <li>@Html.ActionLink("Profile", "Profile", "Profile")</li>
                        <li>@Html.ActionLink("Office Visit", "OfficeVisit", "OfficeVisit")</li>
                        <li>@Html.ActionLink("Code of Conduct", "CodeOfConductViolation", "CodeOfConductViolation")</li>
                        <li>@Html.ActionLink("Remedial Action", "RemedialAction", "RemedialAction")</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Settings")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <h3>Training</h3><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Administrator Training", "Training", "Training")</li>
                        <li>@Html.ActionLink("Technical Training", "Training", "Training")</li>
                    </ul>
                </li>
            </ul>
    </div>
</nav>