@model  SAMsUNFWebApplication.Models.ContactCollection
@{
    ViewBag.Title = "AddContact";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td colspan="2" align="center" height="30px" style='padding-top:20px;padding-bottom:20px;'>
            <h3 class="h3">Add Student</h3>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @using (Html.BeginForm("AddPerson", "Contact", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                        <thead>
                            <tr>
                                <td><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label("Add Contact ID:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.contact.contact_id,
                                   new
                                   {
                                       @class = "form-control",
                                       @style = "width: 250px;",
                                       @id = "TxtID",
                                       @Name = "TxtID",
                                       @required = "required"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Add First Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.contact.first_name,
                                   new
                                   {
                                       @class = "form-control",
                                       @style = "width: 250px;",
                                       @id = "TxtFirstName",
                                       @Name = "TxtFirstName",
                                       @required = "required"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Add Last Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.contact.last_name,
                                   new
                                   {
                                       @class = "form-control",
                                       @style = "width: 250px;",
                                       @id = "TxtLastName",
                                       @Name = "TxtLastName",
                                       @required = "required"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Select A School:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.allContacts,
                                        new SelectList(Model.allContacts, "school_id", "name",
                                        new
                                        {
                                            @id = "TxtSchool",
                                            @required = "required",
                                            @class = "form-control"
                                        }),
                                        new
                                        {
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        }
                                        )
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Select A Grade:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.allContacts,
                                        new SelectList(Model.allContacts, "grade_id", "grade_value",
                                        new
                                        {
                                            @class = "form-control",
                                            @id = "TxtGrade",
                                            @required = "required"
                                        }),
                                        new
                                        {
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Select A Gender:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.allGenders,
                                        new SelectList(Model.allGenders, "gender", "gender",
                                        new
                                        {
                                            @class = "form-control",
                                            @id = "TxtGender",
                                            @required = "required"
                                        }),
                                        new
                                        {
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Select A Home Room:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.allHomeRooms,
                                        new SelectList(Model.allHomeRooms, "homeroom_id", "homeroom_name",
                                        new
                                        {
                                            @class = "form-control",
                                            @id = "TxtHomeroom",
                                            @required = "required"

                                        }),
                                        new
                                        {
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <input id="submit" type="submit" value="Add" class="btn btn-primary" style="padding-left:20px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </td>
    </tr>
</table>
