@model  SAMsUNFWebApplication.Models.OfficeVisitCollection
@{
    ViewBag.Title = "AddStudent";
 }

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>

<div>
@using (Html.BeginForm("AddVisit", "AddOfficeVisit"))
{
    @Html.Label("Select A Student:")
    @Html.DropDownListFor(m => m.officeVisit.student_id,
                    new SelectList(Model.allStudents,
                                   "student_id", "student_name",
                                   Model.allStudents.First().student_name))
    <br />
    @Html.Label("Select A Home Room:")
    @Html.DropDownListFor(m => m.allHomeRooms,
                    new SelectList(Model.allHomeRooms,
                                   "homeroom_id", "name",
                                   Model.allHomeRooms.First().name))
    <br />

    @Html.Label("Select A Reporter:")
    @Html.DropDownListFor(m => m.allReporters,
                    new SelectList(Model.allReporters,
                                   "contact_id", "name",
                                   Model.allReporters.First().name))
    <br />
    @Html.Label("Select Location:")

    @Html.DropDownListFor(m => m.allLocations,
                    new SelectList(Model.allLocations,
                                   "content_course_id", "name",
                                   Model.allLocations.First().name))
    <br />
    @Html.Label("Select Violation:")
    @Html.DropDownListFor(m => m.allCodeViolations,
                    new SelectList(Model.allCodeViolations,
                                   "code_of_conduct_violation_id", "name",
                                   Model.allCodeViolations.First().name))
    <br />
    @Html.Label("Select Remedial Action:")
    @Html.DropDownListFor(m => m.allRemedials,
                    new SelectList(Model.allRemedials,
                                   "remedial_action_id", "name",
                                   Model.allRemedials.First().name))
    <br />
    @Html.Label("Nap?")
    @Html.CheckBoxFor(m=>m.officeVisit.nap)
    <br />
    @Html.Label("Comments;")
    @Html.TextAreaFor(m => m.officeVisit.comments,5,55,null)
    <br />
    <br />

    @Html.Label("Handled By:")
    @Html.DropDownListFor(m => m.allHandledBys,
                    new SelectList(Model.allHandledBys,
                                   "contact_id", "name",
                                   Model.allHandledBys.First().name))

    <input id="submit" type="submit" value="Add Visit"  style="padding-left:20px;"/>  
    <input id="submit" type="submit" value="Cancel" />
}
</div>
