@model  SAMsUNFWebApplication.Models.RemedialActionCollection
@{
    ViewBag.Title = "EditRemedialAction";
}

<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>



</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Edit Contact</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @using (Html.BeginForm("EditRemedialAction", "RemedialAction", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(z => z.singleRemedialAction.First().remedial_action_id,
                                        new
                                        {
                                            @Style = "display: none; border:0px;",
                                            @id = "RemedialActionID",
                                            @Name = "RemedialActionID",
                                            @Value = Model.singleRemedialAction.First().remedial_action_id,
                                            @readonly = "readonly"
                                        })

                                    @Html.Label("Remedial Action Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(z => z.singleRemedialAction.First().name,
                                        new
                                        {
                                            @id = "RemedialActionName",
                                            @Name = "RemedialActionName",
                                            @Value = Model.singleRemedialAction.First().name,
                                            @required = "required",
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <input id="submit" class="btn btn-primary" type="submit" value="Add" style="padding-left:20px;" />
                                    <button class="btn btn-info" onclick="history.go(-1)">Cancel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>

        </td>
    </tr>
</table>


