@model  SAMsUNFWebApplication.Models.StudentCollection
@{
    ViewBag.Title = "EditStudent";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />

</head>

<h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Edit Student</h1>
                @using (Html.BeginForm("EditChild", "Student", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                            <tr>
                                <td>
                                    @Html.TextBoxFor(m => m.singleStudent.First().student_id,
                                        new
                                        {
                                            @Style = "display: none; border:0px;",
                                            @id = "STUDENTID",
                                            @Name = "STUDENTID",
                                            @Value = Model.singleStudent.First().student_id,
                                            @readonly = "readonly"
                                        })

                                    @Html.Label("Student ID:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.singleStudent.First().student_id_nk,
                                        new
                                        {
                                            @id = "TxtID",
                                            @Name = "TxtID",
                                            @Value = Model.singleStudent.First().student_id_nk,
                                            @required = "required",
                                            @class = "form-control",
                                            @style = "width: 250px;"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("First Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.singleStudent.First().first_name,
                                        new
                                        {
                                            @id = "TxtFirstName",
                                            @Name = "TxtFirstName",
                                            @Value = Model.singleStudent.First().first_name,
                                            @required = "required",
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Last Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.singleStudent.First().last_name,
                                        new
                                        {
                                            @id = "TxtLastName",
                                            @Name = "TxtLastName",
                                            @Value = Model.singleStudent.First().last_name,
                                            @required = "required",
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("School:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.schoolselectlist, Model.schoolselectlist,
                                   new
                                   {
                                       @style = "width: 250px;",
                                       @class = "form-control"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Grade:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.gradeselectlist, Model.gradeselectlist,
                                   new
                                   {
                                       @style = "width: 250px;",
                                       @class = "form-control"
                                       
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Gender:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.genderselectlist, Model.genderselectlist,
                                   new
                                   {
                                       @style = "width: 250px;",
                                       @class = "form-control"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Homeroom:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.homeroomselectlist, Model.homeroomselectlist,
                                   new
                                   {
                                       @style = "width: 250px;",
                                       @class = "form-control"
                                   })
                                </td>
                            </tr>
<tr>
                        <td colspan="2" align="right">
                            <input id="submit" class="btn btn-primary" type="submit" value="Add" style="padding-left:20px;" />
                            <button class="btn btn-info" onclick="history.go(-1)">Cancel</button>
                        </td></tr>
                    </table>
                }

