@model  SAMsUNFWebApplication.Models.HomeRoomCollection
@{
    ViewBag.Title = "EditHomeRoom";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Edit a Homeroom</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @using (Html.BeginForm("EditHomeRm", "HomeRoom", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                        <thead><tr><td><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a></td></tr></thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    @Html.TextBoxFor(z => z.singleHomeRoom.First().homeroom_id,
                                        new
                                        {
                                            @Style = "display: none; border:0px;",
                                            @id = "HomeRoomID",
                                            @Name = "HomeRoomID",
                                            @Value = Model.singleHomeRoom.First().homeroom_id,
                                            @readonly = "readonly"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("HomeRoom Class Room:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(z => z.singleHomeRoom.First().homeroom_name,
                                        new
                                        {
                                            @id = "HomeRoomClassRoom",
                                            @Name = "HomeRoomClassRoom",
                                            @Value = Model.singleHomeRoom.First().homeroom_name,
                                            @required = "required",
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("HomeRoom Room Number:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(z => z.singleHomeRoom.First().room_number,
                                        new
                                        {
                                            @id = "HomeRoomRoomNumber",
                                            @Name = "HomeRoomRoomNumber",
                                            @Value = Model.singleHomeRoom.First().room_number,
                                            @required = "required",
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("School:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.schoolselectlist, Model.schoolselectlist,
                                   new
                                   {
                                       @style = "width: 250px;",
                                       @class = "form-control"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <input id="submit" class="btn btn-primary" type="submit" value="Add" style="padding-left:20px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>

        </td>
    </tr>
</table>


