@model  IEnumerable<SAMsUNFWebApplication.Models.Contact>
@using GridMvc.Html
@{
    ViewBag.Title = "Contact";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>


</head>
<div>
    @if (Request.Params["error"] == "invalidfile")
    {
        <div class="bg-danger">The modifications for contact did not work due to a system error.  Please try again.</div>

    }
    @if (Request.Params["error"] == "fileloaded")
    {
        <div class="bg-success">The contact was modified successfully.</div>

    }
</div>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Contact</h1>
        </td>
    </tr>
     <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">
                @Html.ActionLink("Add Contact", "AddContact", "AddContact", null, new { @class = "btn btn-info"})
            </div>
            <div style="width:500px; text-align:center;">

                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(e =>
        @<b>
            @Html.ActionLink("Edit", "EditContact", "EditContact",
               new
               {
                   @id = e.contact_id
               },
               new
               {
                   @class = "btn btn-default"
               })
        </b>);
               columns.Add(d => d.first_name).Titled("First Name").SetWidth(15);
               columns.Add(d => d.last_name).Titled("Last Name").SetWidth(15);
               columns.Add(d => d.position).Titled("Position").SetWidth(60);
               columns.Add(d => d.classroom).Titled("Classroom").SetWidth(10);
               columns.Add(d => d.room_number).Titled("Room </br> Number").SetWidth(5);
               columns.Add(d => d.room_extension).Titled("Room </br> Extension").SetWidth(5);
               columns.Add(d => d.school_name).Titled("School Name").SetWidth(10);
               columns.Add(d => d.email_address).Titled("Email Address").SetWidth(20);
               columns.Add(d => d.cell_phone).Titled("Cell Phone").SetWidth(15);

           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

