@model  IEnumerable<SAMsUNFWebApplication.Models.RemedialAction>
@using GridMvc.Html
@{
    ViewBag.Title = "RemedialAction";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table class="table">
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Remedial Action</h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">
                @Html.ActionLink("Add New Remedial Action", "CreateRemedialAction", "Home")
            </div>
            <div style="width:500px; text-align:center;">


                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(d =>
        @<b>
            @Html.ActionLink("Edit", "EditRemedialAction", "EditRemedialAction",
               new
               {
                   @id = d.remedial_action_id
               },
               new
               {
                   @class = "btn btn-default"
               })
        </b>);
               columns.Add(c => c.name).Titled("Name").SetWidth(15);
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>
