@model  IEnumerable<SAMsUNFWebApplication.Models.Student>
@using GridMvc.Html
@{
    ViewBag.Title = "Student";
}
<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>
<table>
    <tr>
        <td>
            <div class="jumbotron">
                <h1 style="color:darkgoldenrod; font-size:larger;">Student Action Management System (SAMs)</h1>
                <h1 style="color:darkgoldenrod; font-size:large; ">Student</h1>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-left:100px;">
            <div style="width:500px; text-align:left;">
                @Html.ActionLink("Add New Student", "AddStudent", "Home")
            </div>
            <div style="width:500px; text-align:center;">




                @Html.Grid(Model).Columns(columns =>
           {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
            @<b>
                @Html.ActionLink("Edit", "Index")
            </b>);
               columns.Add(c => c.student_id).Titled("ID").SetWidth(15);
               columns.Add(c => c.last_name).Titled("Duval Code").SetWidth(15);
               columns.Add(c => c.first_name).Titled("Code").SetWidth(5);
               columns.Add(c => c.gender).Titled("Code Description").SetWidth(350).Sanitized(true);
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>
</table>

