@model  IEnumerable<SAMsUNFWebApplication.Models.Student>
@using GridMvc.Html
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<head>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/gridmvc.datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
</head>*@
<div>
    @if (Request.Params["error"] == "invalidfile")
    {
        <div class="bg-danger">The modifications for student did not work due to a system error.  Please try again.</div>

    }
    @if (Request.Params["error"] == "fileloaded")
    {
        <div class="bg-success">The student was modified successfully.</div>

    }
</div>
<table class="table" style="width:0%">
    <tr>
        <td align="left" valign="bottom">
            <div style="float: left;">
                <h3 class="viewname-h3">Student</h3>
            </div>
        </td>
    
    </tr>

    <tr>


        <td align="center" >
            <div style="width:500px; text-align:center;">
                <div style="float: left;margin-top:20px;">
                    @Html.ActionLink("Add Student", "AddStudent", "AddStudent", null, new { @class = "btn btn-info" })
                </div>

                @Html.Grid(Model).Columns(columns =>
           {
           columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .SetWidth(30)
           .RenderValueAs(d =>
        @<b>
            @Html.ActionLink("Edit", "EditStudent", "EditStudent",
               new
               {
                   @id = d.student_id
               },
               new
               {
                   @class = "btn btn-primary btn-large"
               })
        </b>);
               columns.Add(c => c.student_id_nk).Titled("ID").SetWidth(15).Css("admin-grid-col");
               columns.Add(c => c.last_name).Titled("Last Name").SetWidth(15).Css("admin-grid-col");
               columns.Add(c => c.first_name).Titled("First Name").SetWidth(5).Css("admin-grid-col");
               columns.Add(c => c.gender).Titled("Gender").SetWidth(350).Sanitized(true).Css("admin-grid-col");
               columns.Add(c => c.name).Titled("School Name").SetWidth(100).Sanitized(true).Css("admin-grid-col");
               columns.Add(c => c.homeroom_name).Titled("Homeroom").SetWidth(100).Sanitized(true).Css("admin-grid-col");
           }).WithPaging(10).Sortable(true).Filterable(true)
            </div>
        </td>
    </tr>

</table>



